.dashboard-hero {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.hero-events,
.hero-deadlines {
    flex: 1;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
}

.deadline-card {
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.dashboard-bottom {
    align-items: start;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.bottom-news,
.bottom-schools {
    flex: 1;
    background: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
}

.school-categories {
    list-style: none;
    padding-left: 0;
}

.school-categories li {
    margin-bottom: 8px;
}

.d-inline{
    display: none !important;
}
.dashboard-flex{
    display: flex;
    justify-content: space-between;
}